.elements__button {
  border: none;
  background: center transparent no-repeat url(../../../images/vektor_stroke.png);
  min-width: 40px;
  height: 19px;
  cursor: pointer;
}

.elements__button:hover {
  opacity: .5;
}
