.elements__button {
  border: none;
  background-color: transparent;
  background-image: url(../../../images/vektor_stroke.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 19px;
  background-position: center;
  cursor: pointer;
}

.elements__button:hover {
  opacity: .5;
}

.elements__button:active {}
