.profile__image {
  width: 120px;
  border-radius: 100px;
  margin-right: 31px;
  object-fit: fill;
  position: relative;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .profile__image {
    margin: 0 auto 26px;
  }
}